.card-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #222831;
  overflow-y: scroll;
}

.diff-search-msg {
  height: 30vh;
  margin-top: 30vh;
  font-size: 36px;
  color: #eeee;
}