.error-card,
.home-search-model {
  height: 40vh;
  width: 50vw;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 25vh;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 15px;
  box-shadow: 15px 15px 0px 0px #00adb5
}

.app-name {
  font-size: 54px;
  font-family: 'Suez One', serif;
}

.film-icon {
  height: 50px;
  width: 55px;
}

.welcome-inst {
  margin-top: 50px;
  font-style: italic;
  font-size: 24px;
}