input {
  height: 48px;
  width: 480px;
  border: none;
  border-radius: 3px;
  font-size: 24px;
  padding: 10px;
}
.search {
  display: inherit;
}

.search-btn {
  height: 68px;
  background-color: #00adb5;
  width: 60px;
  border: none;
  border-radius: 3px;
}

.search-btn:hover,
.search-btn:focus {
  border: none;
  cursor: pointer;
  background-color: #00adb5;
  transform: scale(1.08);
  transition: transform .3s;
  opacity: .95;
}